.home {
  background-color: black;

}
.title {
  color: #AAAAAA;
  font-size: 63px;
}
.play {
  background-color: black;

}
.play:hover {
 background-color: grey;

}

#Games {
  text-align: center;

}

#gameArea {
  border:1px solid #000000;
  display: none;
  z-index: 1;
  position: absolute; 
  left: 0; 
  top: 0; 
}

#gameBackground {
  border:1px solid #000000;
  //display: none;
  z-index: 0;
  position: absolute; 
  left: 0; 
 top: 0; 
}
#area {
  //position: relative;

}
