.home {
  background-color: black;

}
.title {
  color: #AAAAAA;
  font-size: 63px;
}
.play {
  background-color: black;

}
.play:hover {
 background-color: grey;

}

#Games {
  text-align: center;

}

#gameArea {
  border:1px solid #000000;
  display: none;
  //z-index: 1;
  //position: absolute; 
  //left: 0px; 
  //top: 0px; 
}

//#gameBackground {
//  border:1px solid #000000;
  //display: none;
//  z-index: 0;
//  position: absolute; 
//  left: 0px; 
// top: 0px; 
//}
//#area {
  //position: relative;

//}
